<div id="<%= dom_id projet %>">
  <p>
    <strong>Title:</strong>
    <%= projet.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= projet.description %>
  </p>

  <p>
    <strong>Datestart:</strong>
    <%= projet.dateStart %>
  </p>

  <p>
    <strong>Dateend:</strong>
    <%= projet.dateEnd %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= projet.projet_type %>
  </p>

  <p>
    <strong>Reference:</strong>
    <%= projet.reference %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= projet.image %>
  </p>

</div>
