<div class="container-fluid mt-0"> <!-- Réduire ou supprimer la marge en haut -->
  <!-- Titre "experience" -->
  <div class="row mb-5 mt-0"> <!-- Ligne pour le titre -->
    <div class="col text-center"> <!-- Colonne centrée -->
      <h1 class="display-4 header-title">Mes expériences professionnelles</h1> <!-- Titre principal -->
    </div>
  </div>

  <!-- Cartes de experience -->
  <div class="row g-4"> <!-- Utilisation de la grille Bootstrap avec espacement (g-4) -->
    <% @experiences.each do |experience| %> <!-- Boucle autour des colonnes -->
      <!-- Carte de experience -->
      <div class="col-md-6 mb-4"> <!-- Colonne de 6 sur 12 pour chaque carte + marge en bas -->
        <div class="card h-100 d-flex flex-column upEffect"> <!-- h-100 + flex pour aligner en bas -->
          <%= image_tag experience.picture, class: 'card-img-top', alt: experience.title %>
          <div class="card-body d-flex flex-column">
            <h5 class="card-title"><%= experience.title %></h5>
            <h6>
              <!-- Affiche le mois uniquement si l'année de début et de fin est identique -->
              <% if experience.date.year != experience.endDate.year %>
                <p class="fw-lighter"><%= experience.company %> | <%= experience.date.year %> - <%= experience.endDate.year %></p>
              <% else %>
                <p class="fw-lighter"><%= experience.company %> | <%= l(experience.date, format: "%B") %> <%= experience.date.year %> - <%= l(experience.endDate, format: "%B") %> <%= experience.endDate.year %></p>
              <% end %>
            </h6>
            <p class="card-text">
              <%= experience.description %>
            </p>
            <div class="mt-auto"> <!-- mt-auto pour pousser les liens vers le bas -->
              <a href="<%= experience.link %>" class="card-link" target="_blank">En savoir plus</a>
              <% if session[:admin] %>
                <a href="<%= edit_experience_path(experience.id) %>" class="btn btn-success">Editer l'experience</a>
                <a href="<%= experience_path(experience.id) %>" class="btn btn-danger" data-confirm="Êtes-vous sûr ?" data-method="DELETE">Supprimer l'article</a>
              <% end %>            
            </div>
          </div>
        </div>
      </div>
    <% end %> <!-- Fin de la boucle -->
  </div> <!-- Fin de la ligne -->

  <!-- Bouton "Ajouter une nouvelle experience" -->
  <p class="mt-4">
    <% if session[:admin] %>
      <a href="<%= new_experience_path %>" class="btn btn-success">Ajouter une nouvelle experience</a>
    <% end %>  
  </p>
</div>