<div id="<%= dom_id formation %>">
  <p>
    <strong>Title:</strong>
    <%= formation.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= formation.description %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= formation.link %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= formation.picture %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= formation.date %>
  </p>

</div>
