    <nav class="navbar-expand-lg p-3 navbar navbar-top">
      <%= link_to "Mes compétences", "#top", class: "nav-link" %>
      <%= link_to "Gérer le patrimoine informatique", "#gestionPatrimoine", class: "nav-link" %>
      <%= link_to "Répondre aux incidents et aux demandes d'assistance/évolution", "#reponseIncident", class: "nav-link" %>
      <%= link_to "Développer la présence en ligne", "#presenceLigne", class: "nav-link" %>
      <%= link_to "Travailler en mode projet", "#modeProjet", class: "nav-link" %>
      <%= link_to "Organiser son développement professionnel", "#devPro", class: "nav-link" %>
</nav>